<template>
    <!--section start-->
    <section class="ratio_square tools-grey section-b-space">
        <div class="title1 title5">
            <h2 class="title-inner1">Mis Favoritos</h2>
            <hr role="tournament6">
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="product-5 product-m no-arrow">
                        <Item v-for="(item, index) in records" :key="index + 'FVT'" :item="item" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->
</template>

<script>
    import Item from './partial/favoriteItem'

    export default {
        name: 'FavoriteAds',
        components: { Item },
        props: {
            id: {
                required: true,
                type: Number,
                default: () => Number
            }
        },
        data() {
            return {
                resource: 'favorities',
                records: []
            }
        },
        async created() {
            await this.getRecords();
        },
        methods: {
            getRecords() {
                if(this.id){
                    return this.$http.post(`${this.resource}/${this.id}`).then((response) => {
                        this.records = response.data.data
                    });
                }
            }
        }
    }
</script>
