<template>
    <section class="section-b-space blog-page ratio2_3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <Item v-for="(item, index) in records" :key="index + 'MYA'" :item="item" :id="id" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Item from './partial/myad'

    export default {
        name: 'MyAds',
        components: { Item },
        props: {
            id: {
                required: true,
                type: Number,
                default: () => Number
            }
        },
        data() {
            return {
                resource: 'myads',
                records: []
            }
        },
        async created() {
            await this.getRecords();
        },
        methods: {
            getRecords() {
                if(this.id){
                    return this.$http.post(`${this.resource}/${this.id}`).then((response) => {
                        this.records = response.data.data
                    });
                }
            }
        }
    }
</script>
