<template>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span style="color:red">Tamaño recomendado 736 × 1000</span>
                <el-upload
                    ref="upload_images"
                    list-type="picture-card"
                    class="upload-demo"
                    :action="`/${resource}/upload`"
                    :headers="headers"
                    :data="{'type': 'ads'}"
                    :on-success="onSuccess"
                    :on-remove="handleRemove"
                    >
                    <i class="el-icon-plus"></i>
                </el-upload>
            </div>
            <div class="col-md-4">
                <div class="form-group" :class="{'has-danger': errors.name}">
                    <label><span>*</span> Titulo Anuncio</label>
                    <input class="form-control col-xl-8 col-md-7" v-model="form.name" type="text">
                    <small class="form-control-feedback" v-if="errors.name" v-text="errors.name[0]"></small>
                </div>
                <div class="form-group" :class="{'has-danger': errors.description}">
                    <label ><span>*</span> Descripción</label>
                    <input class="form-control col-xl-8 col-md-7" v-model="form.description" type="text">
                    <small class="form-control-feedback" v-if="errors.description" v-text="errors.description[0]"></small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group" :class="{'has-danger': errors.property_type_id}">
                    <label><span>*</span> Tipo de Inmueble</label>
                    <select class="form-control col-xl-8 col-md-7" v-model="form.property_type_id">
                        <option v-for="(item, index) in property_types" :key="index" value="">{{ item.name }}</option>
                    </select>
                    <small class="form-control-feedback" v-if="errors.property_type_id" v-text="errors.property_type_id[0]"></small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><span>*</span> Transaccion</label>
                    <input class="form-control col-xl-8 col-md-7" v-model="form.name" type="text">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><span>*</span> Moneda</label>
                    <input class="form-control col-xl-8 col-md-7" v-model="form.name" type="text">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><span>*</span> Precio</label>
                    <input class="form-control col-xl-8 col-md-7" v-model="form.name" type="text">
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:2px;">
            <div class="col-md-5">
                <gmap-autocomplete
                    class="form-control"
                    placeholder="Tipear dirección"
                    @place_changed="setPlace">
                </gmap-autocomplete>
            </div>
            <div class="col-md-2">
                <!--<button class="btn btn-warning" @click="usePlace">Buscar en Mapa</button> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <Gmap-Map style="width: 100%; height: 300px;" :zoom="zoom" :center="center">
                <!--<Gmap-Marker v-for="(marker, index) in markers"
                    :key="index"
                    :position="marker.position"
                    ></Gmap-Marker> -->
                <Gmap-Marker
                    v-if="this.place"
                    label=""
                    :position="{
                        lat: this.place.geometry.location.lat(),
                        lng: this.place.geometry.location.lng(),
                    }"
                    ></Gmap-Marker>
                </Gmap-Map>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <el-button v-loading=loading_submit @click="submit" type="primary">Guardar</el-button>
            </div>
        </div>
        <br>
    </div>
</template>

<script>
    export default {
        name: 'AdsForm',
        data(){
            return {
                fileList: [],
                headers: headers_token,
                resource: 'ads',
                source_images:[],
                form: {},
                property_types: [],
                features: [],
                districts: [],
                markers: [],
                place: null,
                center: {lat: -10.0203129, lng: -69.2217301},
                zoom: 7,
                errors: {},
                loading_submit: false
            }
        },
        async created() {
            await this.initForm();
            await this.getTables();

        },
        methods: {
            setDescription(description) {
                this.description = description;
            },
            setPlace(place) {
                this.place = place;
                this.center.lat = this.place.geometry.location.lat();
                this.center.lng = this.place.geometry.location.lng();

            },
            initForm() {
                this.form = {
                    name: null,
                    description: null,
                    property_type_id: null
                }
            },
            async getTables() {
                await this.$http.get(`/${this.resource}/tables?distric_id=${this.geo_distric_id}`).then(response => {
                    this.property_types = response.data.property_types;
                    this.features = response.data.features;
                    this.districts = response.data.districts;
                });
            },
            handleRemove(file, fileList) {
                const index = this.source_images.findIndex( x => x.filename.includes(file.name))
                this.source_images.splice(index, 1);
            },
            onSuccess(response) {
                this.source_images.push(response.data);
            },
            submit() {
                this.loading_submit = true
                this.$http.post(`/${this.resource}`, this.form)
                    .then(response => {
                        if (response.data.success) {
                            this.$message.success(response.data.message)
                        } else {
                            this.$message.error(response.data.message)
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.errors
                        } else {
                            console.log(error)
                        }
                    })
                    .then(() => {
                        this.loading_submit = false
                    })
            },
        }
    }
</script>
