<template>

    <!-- personal deatail section start -->
    <section class="contact-page register-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 mb-3">
                    <h3>Datos Principales de tu Aviso</h3>
                    <div class="form-row row align-items-start">
                        <div class="col-md-4 mb-3 float-md-end">
                            <div class="demo-image__placeholder">
                                <div class="block">
                                    <el-image fit="contain" :src="form.src" style="width: 100%; height: 238px; background: #f6fdf3" >
                                        <div slot="placeholder" class="image-slot">
                                            Loading<span class="dot">...</span>
                                        </div>
                                    </el-image>
                                    <el-upload
                                        :action="`/${resource}/upload`"
                                        :headers="headers"
                                        :data="{'type': 'primary_image', 'hash_id': this.hashId}"
                                        ref="uploadPrimaryImage"
                                        :show-file-list="false"
                                        :on-change="onChangePrimaryImage"
                                        :auto-upload="true">
                                        <el-button slot="trigger" style="width: 100%;" size="small" type="primary">Selecciona un archivo</el-button>
                                        <!-- <div slot="tip" class="el-upload__tip">Solo archivos jpg/png con un tamaño menor de 500kb</div> -->
                                    </el-upload>
                                    <!-- <el-button type="primary" style="width: 100%;" @click="onChargeImage">Seleccionar Imagen</el-button> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-12 mb-3">
                            <div class="row">
                                <div class="col-md-12 col-12 mb-3">
                                    <label for="name">Titulo del Anuncio</label>
                                    <input type="text" v-model="form.name" class="form-control" id="name" placeholder="Ingrese el título del anuncio"
                                        required="El campo nombre es requerido">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="post_ad_property_types">Tipo de Inmueble <span class="text-danger">*</span></label>
                                    <select class="form-control" v-model="form.property_type" size="1">
                                        <option v-for="(item, index) in property_types" :key="index" :value="item.id">{{ item.name }}</option>
                                    </select>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="post_ad_transactions">Transacción <span class="text-danger">*</span></label>
                                    <select class="form-control" v-model="form.transaction" size="1" >
                                        <option v-for="(item, index) in transactions" :key="index" :value="item.id">{{ item.name }}</option>
                                    </select>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="currency">Moneda <span class="text-danger">*</span></label>
                                    <select class="form-control" size="1" @change="onChangeCurrency($event)" v-model="form.currency">
                                        <option value="0">Soles</option>
                                        <option value="1">Dólares</option>
                                    </select>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="price">Precio</label>
                                    <el-input placeholder="Ingresar el precio" v-model="form.price" prefix-icon="fas fa-coins"></el-input>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-row row mt-3">
                        <div class="col-md-12 mb-3">
                            <h4 class="text-info"><strong>Datos básicos del Inmueble</strong></h4>
                        </div>
                        <div class="col-md-3 col-12 mb-2" v-for="(item, index) in features.basic" :key="index" >
                            <div v-if="item.input_type === 'checkbox'">
                                <div class="row">
                                    <div class="col-md-7 col-7 mb-1">
                                        <i :class="item.feature_icon"></i>&nbsp;&nbsp;&nbsp;
                                        <label v-html="item.html_content"></label>
                                    </div>
                                    <div class="col-md-5 col-5 mb-1 align-items-right">
                                        <el-radio-group v-model="item.selected" :name="item.name" size="mini" >
                                            <el-radio-button label="1">Si</el-radio-button>
                                            <el-radio-button label="0">No</el-radio-button>
                                        </el-radio-group>
                                    </div>
                                </div>
                            </div>
                            <div v-if="item.input_type === 'number'">
                                <div class="row">
                                    <div class="col-7 mb-1">
                                        <i :class="item.feature_icon"></i>&nbsp;&nbsp;&nbsp;
                                        <label v-html="item.html_content"></label>
                                    </div>
                                    <div class="col-5 mb-1">
                                        <input
                                            :type="item.input_type"
                                            :name="item.name"
                                            v-model="item.value"
                                            class="form-control input-options" value="0" min="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row row mt-3">
                        <div class="col-md-12 mb-3">
                            <h4 class="text-info"><strong>Detalles Adicionales</strong></h4>
                        </div>
                        <div class="col-md-3 mb-1" v-for="(item, index) in features.detail" :key="index" >
                            <div v-if="item.input_type === 'checkbox'">
                                <div class="row">
                                    <div class="col-7 mb-1">
                                        <i :class="item.feature_icon"></i>&nbsp;&nbsp;&nbsp;
                                        <label v-html="item.html_content"></label>
                                    </div>
                                    <div class="col-5 mb-1 align-items-middle">
                                        <el-radio-group v-model="item.selected" :name="item.name" size="mini" >
                                            <el-radio-button label="1" :key="item.name + '_si'">Si</el-radio-button>
                                            <el-radio-button label="0" :key="item.name + '_no'">No</el-radio-button>
                                        </el-radio-group>
                                    </div>
                                </div>
                            </div>
                            <div v-if="item.input_type === 'number'">
                                <div class="row">
                                    <div class="col-7 mb-1">
                                        <i :class="item.feature_icon"></i>&nbsp;&nbsp;&nbsp;
                                        <label v-html="item.html_content"></label>
                                    </div>
                                    <div class="col-5 mb-1">
                                        <input :type="item.input_type" name="item.name" class="form-control input-options" value="0" min="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row row mt-3">
                        <div class="col-md-12 mb-3">
                            <h4 class="text-info"><strong>Servicios y Zona Común</strong></h4>
                        </div>
                    </div>

                    <div class="form-row row mt-3">
                        <div class="col-md-12 mb-3">
                            <h4 class="text-info"><strong>Reglas de Convivencia</strong></h4>
                        </div>

                        <div class="col-md-12 mb-3">
                            <textarea class="form-control"
                                v-model="form.rules"
                                placeholder="Aquí puedes colocar informacion de las reglas generales que se usan en el inmueble, como por ejemplo, horarios de atención, horarios para realizar reuniones y cualquier otro tema que deba ser mencionado para que el posible inquilino lo tenga en cuenta."
                                id="exampleFormControlTextarea1"
                                rows="8"></textarea>
                        </div>
                    </div>

                    <div class="form-row row mt-3">
                        <div class="col-md-12 mb-3">
                            <h4 class="text-info"><strong>Caracteristicas del inmueble</strong></h4>
                        </div>

                        <div class="col-md-12 mb-3">
                            <tags-input class="text-info" element-id="tags"
                                v-model="form.property_features_tag"
                                :existing-tags="property_features"
                                :typeahead="true"
                                placeholder="Agregar caracteristicas"
                                discard-search-text="Posibles coincidencias"
                                id-field="id"
                                text-field="name"
                                display-field="name"
                                :only-existing-tags="true"
                                :allow-duplicates="false"
                                ></tags-input>
                        </div>
                    </div>

                    <div class="form-row row mt-3">
                        <div class="col-md-12 mb-3">
                            <h4 class="text-info"><strong>Breve Descripción del Inmueble</strong></h4>
                        </div>

                        <div class="col-md-12 mb-3">
                            <textarea class="form-control"
                                v-model="form.summary"
                                placeholder="Aquí coloca un resumen del inmueble resaltando los principales beneficios de la propiedad."
                                id="exampleFormControlTextarea1"
                                rows="8"></textarea>
                        </div>
                    </div>

                    <div class="form-row row mt-3">
                        <div class="col-md-12 mb-3">
                            <h4 class="text-info"><strong>Descripción completa del Inmueble</strong></h4>
                        </div>

                        <div class="col-md-12 mb-3">
                            <textarea class="form-control"
                                v-model="form.complete_description"
                                placeholder="Puedes colocar mayor información que describa mejor el inmueble."
                                id="exampleFormControlTextarea1"
                                rows="8"></textarea>
                        </div>
                    </div>

                    <!-- <div class="form-row row mt-3">
                        <div class="col-md-12 mb-3">
                            <div class="card">
                                <h4 class="card-header text-info"><strong>Calendario</strong></h4>
                                <div class="card-body">
                                    <HotelDatePicker
                                        format="DD/MM/YYYY"
                                        v-model="form.calendar"
                                        :value="true"
                                        :displayClearButton="true"
                                        :closeDatepickerOnClickOutside="false"
                                        :alwaysVisible="true"
                                        :showYear="true"
                                        :showPrice="true"
                                        :i18n="calendar_properties"
                                        @booking-clicked="update_calendar">
                                    </HotelDatePicker>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="form-row row mt-3">
                        <div class="col-md-12 mb-3">
                            <h4 class="text-info"><strong>Ubicación</strong></h4>
                        </div>
                        <div class="col-md-4 col-12 mb-3">
                            <div class="form-group mb-0">
                                <h4 class="">Departamento</h4>
                                <el-select v-model="form.department_id" placeholder="Seleccionar ..." class="input-group" @change="getProvinces($event)" >
                                    <el-option
                                    v-for="item in departments"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 mb-3">
                            <div class="form-group mb-0">
                                <h4 class="">Provincia</h4>
                                <el-select v-model="form.province_id" placeholder="Seleccionar ..." class="input-group" @change="getDistricts($event)" >
                                    <el-option
                                    v-for="item in provinces"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 mb-3">
                            <div class="form-group mb-0">
                                <h4 class="">Distrito</h4>
                                <el-select v-model="form.district_id" placeholder="Seleccionar ..." class="input-group" >
                                    <el-option
                                    v-for="item in districts"
                                    :key="item.value"
                                    :label="item.name"
                                    :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <gmap-autocomplete
                                class="form-control"
                                placeholder="Escribir Ubicación o Punto de Referencia"
                                :options="{fields: ['geometry', 'formatted_address', 'address_components']}"
                                @place_changed="setPlace">
                            </gmap-autocomplete>
                        </div>
                        <div class="col-md-12 mb-3">
                            <Gmap-Map
                                style="width: 100%; height: 300px;"
                                :zoom="zoom"
                                :center="center">
                            <Gmap-Marker
                                :key="index"
                                v-for="(m, index) in markers"
                                :position="m.position"
                                ></Gmap-Marker>
                            </Gmap-Map>
                        </div>
                    </div>

                    <div class="form-row row mt-3">
                        <div class="col-md-12 mb-3">
                            <h4 class="text-info"><strong>Galerías de Fotos</strong></h4>
                        </div>
                        <div class="col-md-12">
                            <el-upload
                                ref="upload"
                                :action="`/${resource}/upload`"
                                :headers="headers"
                                :data="{'type': 'ads', 'hash_id': this.hashId}"
                                :file-list="this.fileList"
                                :on-success="onSuccess"
                                list-type="picture-card"
                                accept="image/jpeg,image/jpg,image/png"
                                :on-remove="handleRemove"
                                :on-change="fileChange"
                                :auto-upload="true">
                                <i class="el-icon-upload"></i>


                            </el-upload>
                            <el-dialog :visible.sync="dialogVisible">
                                <img width="100%" :src="dialogImageUrl" alt="">
                            </el-dialog>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-row row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2 text-end mb-3">
                            <el-button v-loading=loading_submit @click="submit" class="btn btn-solid btn-sm" type="primary" >Publicar</el-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->
</template>

<script>
    import HotelDatePicker from 'vue-hotel-datepicker'
    import 'vue-hotel-datepicker/dist/vueHotelDatepicker.css';
    import { clipperBasic } from 'vuejs-clipper'
    import { clipperPreview } from 'vuejs-clipper'
    import { uuid } from 'vue-uuid';

    export default {
        name: 'AdsForm',
        components: { HotelDatePicker, clipperBasic, clipperPreview },
        data(){
            return {
                headers: headers_token,
                resource: 'ads',
                hashId: uuid.v1(),
                fileList: [],
                form: {
                    hash_id: '',
                    src: '',
                    name: ',',
                    property_type: '1',
                    transaction: 1,
                    currency: 0,
                    price: 0,
                    features: {},
                    rules:'',
                    property_features_tag: [],
                    summary: '',
                    complete_description:'',
                    department_id: 0,
                    province_id: 0,
                    district_id: 0,
                    address: '-',
                    source_images:[],
                    image: '',
                    primary_image:'',
                },
                property_types: [],
                transactions: [],
                property_features: [],
                features: {
                    basic:{},
                    detail:{},
                    others: {}
                },
                departments: [],
                provinces: [],
                districts: [],
                center: {lat: -12.044225, lng: -77.053145},
                markers: [],
                places: [],
                currentplace: null,
                zoom: 12,
                errors: {},
                loading_submit: false,
                loading_submit_image: false,
                dialogImageUrl: '',
                dialogVisible: false,
                disabled: false,
                dialogImageIndex: undefined,
                isImageUploaded: false,
            }
        },
        props: ['homeRoute'],
        async created() {
            await this.initForm();
            await this.getTables();
            await this.getFeaturesByProperty(1);
            await this.getDepartments();
        },
        methods: {
            setPlace(place) {
                this.form.address = place.formatted_address;
                this.currentPlace = place;
                this.addMarker();
            },
            addMarker() {
                if (this.currentPlace) {
                    const marker = {
                        lat: this.currentPlace.geometry.location.lat(),
                        lng: this.currentPlace.geometry.location.lng(),
                    };
                    this.markers= [{ position: marker }];
                    this.places.push(this.currentPlace);
                    this.center = marker;
                    this.form.center = marker;
                    this.currentPlace = null;
                }
            },
            initForm() {
                this.form = {
                    hash_id: '',
                    src: '/images/default.jpg',
                    property_type: '1',
                    transaction: 1,
                    currency: '0',
                    price: 0,
                    features: {},
                    rules:'',
                    property_features_tag: [],
                    summary: '',
                    complete_description:'',
                    department_id: null,
                    province_id: null,
                    district_id: null,
                    address: '-',
                    center: {lat: -10.0203129, lng: -69.2217301},
                    source_images:[],
                    image: '',
                    primary_image:'',
                };
                this.center = {lat: -12.044225, lng: -77.053145};
                this.hashId = uuid.v1();
            },
            async getTables() {
                await this.$http.get(`/${this.resource}/tables`).then(response => {
                    this.property_types = response.data.property_types;
                    this.transactions = response.data.transactions;
                    this.property_features = response.data.features;
                });
            },
            getFileExtension(filename) {
                return (/[.]/.exec(filename)) ? /[^.]+$/.exec(filename)[0] : undefined;
            },
            onChargeImage(){
                this.$refs.uploadPrimaryImage.submit();
            },
            onChangePrimaryImage(file, fileList){
                this.form.src = URL.createObjectURL(file.raw);
                this.form.primary_image = 'primary_image.' + this.getFileExtension(file.name);
            },
            async getDepartments() {
                await this.$http.get(`/${this.resource}/departments`).then(response => {
                    this.departments = response.data.departments;
                });
            },
            async getProvinces(event) {
                await this.$http.get(`/${this.resource}/provinces/${event}`).then(response => {
                    this.provinces = response.data.provinces;
                });

                this.$set(this.form, 'province_id',undefined);
                this.$set(this.form, 'district_id',undefined);
            },
            async getDistricts(event) {
                await this.$http.get(`/${this.resource}/districts/${event}`).then(response => {
                    this.districts = response.data.districts;
                });
                this.$set(this.form, 'district_id',undefined);
            },
            onChangeCurrency(event) {
                console.log(event.target.value);
            },
            async getFeaturesByProperty(id){
                await this.$http.get(`/${this.resource}/features/${id}`).then(response => {
                    this.features.basic = response.data.basic_features.map(function(item) {
                        if(item.input_type === 'number')
                            item['value'] = 0;
                        if(item.input_type === 'checkbox')
                            item['selected'] = 0;
                        return item;
                    });
                    this.features.detail = response.data.detail_features.map(function(item) {
                        if(item.input_type === 'number')
                            item['value'] = 0;
                        if(item.input_type === 'checkbox')
                            item['selected'] = 0;
                        return item;
                    });
                    this.features.others = response.data.other_features.map(function(item) {
                        if(item.input_type === 'number')
                            item['value'] = 0;
                        if(item.input_type === 'checkbox')
                            item['selected'] = 0;
                        return item;
                    });
                });
            },
            update_calendar(values){
                console.log('Update:');
                console.log(values);
                this.form.calendar = {...values}
            },
            reset_calendar(values){
                console.log('Reset:');
                console.log(values);

            },
            handleRemove(file, fileList) {
                const index = this.fileList.findIndex( x => x.name.includes(file.name))
                this.fileList.splice(index, 1);
            },
            submitUpload() {
                this.isImageUploaded = true;
                this.$refs.upload.submit();
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
                this.dialogImageIndex = this.fileList.findIndex( x => x.filename.includes(file.name))
            },
            onSuccess(response) {
                this.fileList = this.form.source_images;
                this.isImageUploaded = false;
            },
            handleDownload(file) {
                console.log(file);
            },
            fileChange(file){
                if(file.status === 'success')
                   this.form.source_images.push({name: file.name, url: file.url})
            },
            getResult(event) {
                console.log(event);
                this.form.source_images[this.dialogImageIndex].url = canvas.toDataURL("image/jpeg", 1);
                this.dialogVisible = false;
            },
            submit() {
                this.loading_submit = true;
                this.form.features = this.features;
                this.form.hash_id = this.hashId;
                if(typeof this.form.address === undefined)
                    this.form.address = '-'

                this.$http.post(`/${this.resource}/save`, this.form)
                    .then(response => {
                        if (response.data.success) {
                            this.$message.success(response.data.message)
                            location.href = this.homeRoute;
                        } else {
                            this.$message.error(response.data.message)
                        }
                        this.loading_submit = false
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.errors
                        } else {
                            console.log(error)
                        }
                        this.loading_submit = false
                    })
                    .then(() => {
                        this.loading_submit = false
                    })
            },
        }
    }
</script>
