<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 collection-filter">
                <FilterSide :form="form" :districts="districts" :property_types="property_types" :features="features" @getRecords="getRecords" @setDataDistricts="setDataDistricts"/>
            </div>
            <div class="collection-content col">
                <div class="page-main-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="collection-product-wrapper">
                                <div class="product-top-filter">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="filter-main-btn"><span class="filter-btn btn btn-theme"><i class="fa fa-filter"
                                                        aria-hidden="true"></i> Filtros</span></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="product-filter-content">
                                                        <div class="search-count">
                                                            <h5>{{ records.length }} Resultados</h5>
                                                        </div>
                                                        <div class="collection-view">
                                                            <ul>
                                                                <li><i class="fa fa-th grid-layout-view"></i></li>
                                                                <li><i class="fa fa-list-ul list-layout-view"></i></li>
                                                            </ul>
                                                        </div>
                                                        <div class="collection-grid-view">

                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-wrapper-grid">
                                    <div class="row margin-res">
                                        <Item v-for="(item, index) in records" :key="index + 'ITM'" :item="item"  />
                                    </div>
                                </div>
                                <div class="product-pagination">
                                    <Pagination @getRecords="getRecords" :pagination="pagination" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import queryString from 'query-string'
    import FilterSide from './partial/filter'
    import Item from './partial/item'
    import Pagination from './partial/pagination'

    export default {
        name: 'AdsIndex',
        components: { FilterSide, Item, Pagination },
        props: {
            property_type_id: {
                type: Number,
                required: false,
                default: () => Number
            },
            geo_distric_id: {
                type: Number,
                required: false,
                default: () => Number
            },
        },
        data(){
            return {
                property_types: [],
                features: [],
                resource: 'ads',
                form: {},
                records: [],
                pagination: {},
                districts: []
            }
        },
        async created() {
            await this.initForm();
            await this.getTables();
            if(this.geo_distric_id) {
                const district = this.districts[0]
                this.form.geo_distric_id = district ? district.id : null;
                this.form.search = district ? district.value : null;
            }
            if(this.property_type_id) {
                this.form.property_types_id.push(this.property_type_id)
            }
            await this.getRecords();
        },
        methods: {
            getRecords() {
                return this.$http.post(`${this.resource}/records`, this.getParameters()).then((response) => {
                        this.records = response.data.data
                        this.pagination = response.data.meta
                        this.pagination.per_page = parseInt(response.data.meta.per_page)
                    });
            },
            setDataDistricts(data) {
                this.districts = data
            },
            setValuesForm() {
                this.form.property_types_id = this.property_types.filter(x => x.selected === true).map(x => x.id);
                this.form.features_id = this.features.filter(x => x.selected === true).map(x => x.id);
                if(!this.form.search) {
                    this.form.geo_distric_id = null
                }
            },
            getParameters() {
                this.setValuesForm();
                return {
                    page: this.pagination.current_page,
                    ...this.form,
                };
            },
            initForm() {
                this.form = {
                    property_types_id: [],
                    features_id: [],
                    min_price: null,
                    max_price: null,
                    type_currency: 'SOL',
                    search: null,
                    geo_distric_id: null
                }
            },
            async getTables() {
                await this.$http.get(`${this.resource}/tables?distric_id=${this.geo_distric_id}`).then(response => {
                    this.property_types = response.data.property_types;
                    this.features = response.data.features;
                    this.districts = response.data.districts;
                });
            },
        }
    }
</script>
