<template>
    <section class="section-b-space">
        <div class="collection-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col-lg-8">
                                    <el-carousel type="card"  trigger="click" height="400px" indicator-position="outside">
                                        <el-carousel-item v-for="(item, index) in form.gallery" :key="index + 'TG'">
                                            <div class="responsive">
                                                <img class="item__image"
                                                    :src="item.url" alt="" />
                                            </div>
                                        </el-carousel-item>
                                    </el-carousel>
                                    <section class="tab-product m-0">
                                        <div class="row">
                                            <div class="col-sm-12 col-lg-12">
                                                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                                                    <li class="nav-item"><a class="nav-link active" id="top-home-tab"
                                                            data-toggle="tab" href="#top-home" role="tab" aria-selected="true"><i
                                                                class="fa fa-info-circle fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;Descripción</a>
                                                        <div class="material-border"></div>
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link" id="profile-top-tab" data-toggle="tab"
                                                            href="#top-profile" role="tab" aria-selected="false"><i
                                                                class="fa fa-thumb-tack fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;Detalles</a>
                                                        <div class="material-border"></div>
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link" id="review-top-tab" data-toggle="tab"
                                                            href="#top-availability" role="tab" aria-selected="false"><i
                                                                class="fa fa-calendar-o fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;Disponibilidad</a>
                                                        <div class="material-border"></div>
                                                    </li>
                                                </ul>
                                                <div class="tab-content nav-material" id="top-tabContent">
                                                    <div class="tab-pane fade show active" id="top-home" role="tabpanel"
                                                        aria-labelledby="top-home-tab">
                                                        <div class="part mb-3">
                                                            <p>{{ form.description }}</p>
                                                        </div>
                                                        <div class="part mb-3">
                                                            <h5 class="inner-title mb-3"><strong>Tipo de Inmueble:</strong></h5>
                                                            <p> {{ form.property_type }}</p>
                                                        </div>
                                                        <div class="part">
                                                            <h5 class="inner-title mb-3"><strong>Datos básicos del inmueble</strong></h5>
                                                            <div class="row">
                                                                <div v-for="item in form.basic_features" class="col-md-4 col-4 mb-3" :key="item.id + 'BFEAT'">
                                                                    <div v-if="item.input_type === 'number'">
                                                                        <i :class="item.feature_icon"></i>&nbsp;&nbsp;&nbsp;
                                                                        <label v-html="item.html_content"></label>:
                                                                        <label >{{ item.value }}</label>
                                                                    </div>
                                                                    <div v-if="item.input_type === 'checkbox'">
                                                                        <i :class="item.feature_icon"></i>&nbsp;&nbsp;&nbsp;
                                                                        <label v-html="item.html_content"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="part">
                                                            <h5 class="inner-title mb-3"><strong>Detalles Adicionales</strong></h5>
                                                            <div class="row">
                                                                <div v-for="item in form.aditional_features" class="col-md-4 col-4 mb-3" :key="item.id + 'DFEAT'">
                                                                    <div v-if="item.input_type === 'number'">
                                                                        <i :class="item.feature_icon"></i>&nbsp;&nbsp;&nbsp;
                                                                        <label v-html="item.html_content"></label>:
                                                                        <label >{{ item.value }}</label>
                                                                    </div>
                                                                    <div v-if="item.input_type === 'checkbox'">
                                                                        <i :class="item.feature_icon"></i>&nbsp;&nbsp;&nbsp;
                                                                        <label v-html="item.html_content"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="part">
                                                            <h5 class="inner-title mb-3"><strong>Descripción:</strong></h5>
                                                            <p> {{ form.content }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="top-profile" role="tabpanel"
                                                        aria-labelledby="profile-top-tab">
                                                        <div class="part mb-3">
                                                            <h5 class="inner-title mb-3"><strong>Dirección:</strong></h5>
                                                            <p> {{ form.address }}</p>
                                                        </div>
                                                        <div class="part">
                                                            <Gmap-Map
                                                                style="width: 100%; height: 300px;"
                                                                :zoom="12"
                                                                :center="form.center">
                                                            <Gmap-Marker
                                                                :key="index"
                                                                v-for="(m, index) in form.markers"
                                                                :position="m.position"
                                                                ></Gmap-Marker>
                                                            </Gmap-Map>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="top-availability" role="tabpanel" aria-labelledby="availability-top-tab">
                                                        <el-calendar>
                                                            <!-- Use 2.5 slot syntax. If you use Vue 2.6, please use new slot syntax-->
                                                            <template
                                                                slot="dateCell"
                                                                slot-scope="{date, data}">
                                                                <p :class="data | classDate(dates_disabled)" @click="handleSelectedDate(data)">
                                                                {{ data | renderDate(dates_disabled) }}
                                                                </p>
                                                            </template>
                                                        </el-calendar>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-lg-4 rtl-text">
                                    <div class="product-right">
                                        <div class="product-count mb-3">
                                            <ul>
                                                <li>
                                                    <!-- <i class="fa fa-user"></i> -->
                                                    <img src="/multikart/assets/images/person.gif" class="img-fluid" alt="image">
                                                    <span class="p-counter">&nbsp;&nbsp;{{ form.views }}</span>
                                                    <span class="lang">&nbsp;vistas de este anuncio</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="rating mb-3">
                                            <el-rate
                                            v-model="form.rating_number"
                                            disabled
                                            show-score
                                            text-color="#ff9900"
                                            score-template="{value} pts">
                                            </el-rate>
                                        </div>
                                        <h2> {{ form.name }}</h2>
                                        <h4 v-if="form.ad_currency === 1">S/ {{ formatPrice(Number(form.ad_price_pen)) }}</h4>
                                        <h3 v-if="form.ad_currency === 1">$ {{ formatPrice(form.ad_price_dolar) }}</h3>
                                        <h4 v-if="form.ad_currency === 0">$ {{ formatPrice(Number(form.ad_price_dolar)) }}</h4>
                                        <h3 v-if="form.ad_currency === 0">S/ {{ formatPrice(Number(form.ad_price_pen)) }}</h3>

                                        <div class="border-product">
                                            <h6 class="btn btn-solid hover-solid btn-animation btn-sm col-12">Información de Contacto</h6>
                                            <ul class="shipping-info text-start">
                                                <li><i class="fa fa-user">&nbsp;&nbsp;</i> {{ form.contact_name }}</li>
                                                <li><i class="fa fa-envelope">&nbsp;&nbsp;</i><a :href="'mailto:'+ form.contact_email">{{ form.contact_email }}</a> </li>
                                                <li><i class="fa fa-phone">&nbsp;&nbsp;</i> {{ form.contact_cel }} </li>
                                            </ul>
                                        </div>
                                        <QuestionForm :name="'questionForm1'" :id="id" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import ProducServiceBlock from '../../components/ProducServiceBlock'
    import QuestionForm from './components/QuestionForm'

    export default {
        name: 'AdsShow',
        props: {
            id: {
                required: true,
                type: Number,
                default: () => Number
            }
        },
        components: { ProducServiceBlock,QuestionForm },

        data(){
            return {
                form: {},
                resource: 'ads',
                selectedDate: null,
                dates_disabled: []
            }
        },
        filters: {
            classDate(val, dates_disabled) {
                if(dates_disabled.includes(val.day)) {
                    return 'not-selected';
                }
                return  val.isSelected ? 'is-selected' : '';
            },
            renderDate(data, dates_disabled) {
                // let icon = data.isSelected ? '✔️' : '';
                let icon = data.isSelected ? '' : '';
                if(dates_disabled.includes(data.day)) {
                    icon = '✔️';
                }
                return  `${data.day.split('-').slice(1).join('-')} ${icon}`;
            }
        },
        async created() {
            await this.initForm();
            await this.getRecord();
            await this.getDisabledDates();
        },
        methods: {
            handleSelectedDate(data) {
                if(!this.dates_disabled.includes(data.day)) {
                    this.selectedDate = data.day
                }
                else {
                    this.selectedDate = null
                }
            },
            initForm() {
                this.form = {
                    id: null,
                    name: null,
                    slug: null,
                    description: null,
                    content: null,
                    rating_number: null,
                    likes_number: null,
                    map_lat: null,
                    map_lng: null,
                    markers: [],
                    center: {lat: -12.044225, lng: -77.053145},
                    image: null,
                    primary_image: null,
                    image: null,
                    views: null,
                    ad_currency: null,
                    ad_price_pen: null,
                    ad_price_dolar: null,
                    gallery: [],
                    rating_number: null,
                    exchange_rate: null,
                    contact_name: null,
                    contact_email: null,
                    contact_cel: null,
                    property_type: '',
                    basic_features: '',
                    aditional_features: '',
                    main_features: '',
                }
            },
            getRecord() {
                if(this.id) {
                    return this.$http.get(`/${this.resource}/record/${this.id}`).then((response) => {
                        this.form = response.data.data
                        this.form.gallery.unshift({id : 1,url : this.form.primary_image});
                        this.form.basic_features = JSON.parse(response.data.data.basic_features);
                        this.form.aditional_features = JSON.parse(response.data.data.aditional_features);
                        this.form.main_features = JSON.parse(response.data.data.main_features);

                        const marker = {
                            lat: this.form.map_lat,
                            lng: this.form.map_lng,
                        };
                        this.form.markers = [{position: marker}];
                        this.form.center = marker;
                    });
                }
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            getDisabledDates(){
                if(this.id) {
                    return this.$http.get(`/${this.resource}/fechas/${this.id}`).then((response) => {
                        //this.form = response.data.data
                        response.data.fechas.forEach(element => this.generateDates(element.startdate, element.enddate));
                        console.log(response);
                    });
                }
            },
            generateDates(minDate, maxDate) {
                let dateadd = new Date(new Date(minDate).getTime() + 86400000)
                this.dates_disabled.push(this.formatDate(new Date(minDate)))
                while (dateadd < new Date(maxDate)) {
                    this.dates_disabled.push(this.formatDate(new Date(dateadd)))
                    dateadd = new Date(dateadd.getTime() + 86400000)
                }
                this.dates_disabled.push(this.formatDate(new Date(maxDate)))
            },
            formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;

                return [year, month, day].join('-');
            },
        }
    }
</script>

<style scoped>
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    margin: 0;
    border: solid 1px #81ba00;
    border-style: dotted;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
    border: solid 1px #81ba00;
    border-style: dotted;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
    border: solid 1px #81ba00;
    border-style: dotted;
  }
   .is-selected {
    color: #1989FA;
  }
  .avoid-clicks {
    pointer-events: none;
  }
  .not-selected {
    background: #F2EFEE;
  }

.item__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  align-items: center;
}

.responsive {
width: 100%;
height: 400px;
}
</style>
