<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card dashboard-table mt-0">
                    <div class="card-body">
                            <div class="top-sec">
                                <h3>Lista de Tipos de Inmueble</h3>
                                <button type="button" @click.prevent="clickCreate()" class="btn btn-primary btn-sm">Nuevo</button>
                            </div>
                            <table class="table-responsive-md table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Tipo dato</th>
                                        <th scope="col">edit/delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(row, index) in records" :key="`${index}Row`">
                                        <td> {{ index + 1 }} </td>
                                        <td> {{ row.name }}</td>
                                        <td> {{ row.type_data }} </td>
                                        <td>  <i  @click.prevent="clickCreate(row.id)" class="fa fa-pencil-square-o mr-1 pointer"
                                                aria-hidden="true"></i>
                                                <i @click.prevent="clickDelete(row.id)" class="fa fa-trash-o ml-1 pointer"
                                                aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                            <Pagination @getRecords="getRecords" :pagination="pagination" />
                    </div>
                </div>
            </div>
        </div>
        <Form :showDialog.sync="showDialog" :recordId="recordId" />
    </div>
</template>

<script>
import Pagination from '../../components/Pagination';
import queryString from 'query-string'
import Form from './form.vue'
import {deletable} from '../../mixins/deletable'


export default {
    name: 'PropertyType',
    components: { Pagination, Form },
    mixins: [deletable],
    data(){
        return {
            records: [],
            pagination: {},
            resource: 'property-type',
            search: '',
            recordId: null,
            showDialog: false
        }
    },
    created() {
        this.$eventHub.$on('reloadData', () => {
            this.getRecords()
        })
        this.getRecords();
    },
    methods: {
        getQueryParams() {
            return queryString.stringify({
                page: this.pagination.current_page,
                limit: this.limit,
            })
        },
        getRecords() {
            return this.$http.get(`${this.resource}/records?${this.getQueryParams()}`).then((response) => {
                    this.records = response.data.data
                    this.pagination = response.data.meta
                    this.pagination.per_page = parseInt(response.data.meta.per_page)
                });
        },
        clickCreate(recordId = null) {
            this.recordId = recordId
            this.showDialog = true
        },
        clickDelete(id) {
            this.destroy(`${this.resource}/${id}`).then(() =>
                this.$eventHub.$emit('reloadData')
            )
        }
    }
}
</script>

<style  scoped>
    .pointer {
        cursor: pointer;
    }
</style>
