<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <GeneralInformation />
                </div>
                <div class="col-md-6">
                    <SeoConfiguration />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import GeneralInformation from './partials/general-information'
import SeoConfiguration from './partials/seo-configuration'

export default {
    name: 'ConfigurationWeb',
    components: { GeneralInformation, SeoConfiguration },
    data() {
        return {
            resource: 'dashboard',
            form: {},
            loading: false
        };
    },
    created() {
        this.initForm()
    },
    methods: {
        initForm() {
            this.form = {
                id: null
            }
        },
    }
};
</script>

<style></style>
