<template>
    <div class="collection-filter-block p-3">
        <div class="collection-collapse-block-content">
            <div class="wrapper mt-3">
                <div class="range-slider">
                    <el-autocomplete
                        style="width: 100%;height:38px;"
                        class="inline-input"
                        v-model="form.search"
                        :fetch-suggestions="querySearch"
                        placeholder="Lugar..."
                        @select="handleSelect"
                        clearable
                        @clear="handleChange"
                    />
                </div>
                <div style="margin-top:2px;" class="range-slider text-center">
                    <button style="width: 100%"  @click="clickSearch" class="brn btn-solid">BUSCAR</button>
                </div>
            </div>
        </div>
        <div class="collection-collapse-block open">
            <h3 class="collapse-block-title">Tipo de Inmueble</h3>
            <div class="collection-collapse-block-content">
                <div class="collection-brand-filter">
                    <div v-for="(item, index) in property_types" :key="index + 'TI'" class="custom-control collection-filter-checkbox pl-0">
                        <el-checkbox @change="handleChange" size="mini" v-model="item.selected">{{ item.name }}</el-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="collection-collapse-block open">
            <h3 class="collapse-block-title">Caracteristicas</h3>
            <div class="collection-collapse-block-content">
                <div class="collection-brand-filter">
                    <div v-for="(item, index) in features" :key="index + 'FT'" class="custom-control collection-filter-checkbox pl-0">
                        <el-checkbox size="mini" @change="handleChange" v-model="item.selected">{{ item.name }}</el-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="collection-collapse-block border-0 open">
            <h3 class="collapse-block-title">rango de precio</h3>
            <div class="collection-collapse-block-content">
                <div class="wrapper mt-3">
                    <div class="payment-options">
                        <el-radio-group v-model="form.type_currency">
                            <el-radio :label="'SOL'">Soles (S/)</el-radio>
                            <el-radio disabled :label="'DOL'">Dólares (US$)</el-radio>
                        </el-radio-group>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="field-name" class="form-control" v-model="form.min_price" placeholder="Min(-)">
                        </div>
                        <div class="col-md-6">
                            <input  type="text" name="field-name" class="form-control" v-model="form.max_price" placeholder="Max(+)">
                        </div>
                    </div>
                    <div style="margin-top:2px;" class="range-slider text-center">
                        <button style="width: 100%" @click="clickSearch" class="brn btn-solid">BUSCAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import queryString from 'query-string'
export default {
    name: 'FilterSide',
    props: {
        form: {
            type: Object,
            required: true,
            default: () => Object
        },
        property_types: {
            type: Array,
            required: true,
            default: () => Array
        },
        features: {
            type: Array,
            required: true,
            default: () => Array
        },
        districts: {
            type: Array,
            required: true,
            default: () => Array
        }
    },
    computed:{
    },
    data() {
        return {
            resource: 'ads',
        };
    },
    async created() {

    },
    mounted() {
    },
    methods:{
        handleChange() {
            this.$emit('getRecords');
        },
        clickSearch() {
            this.$emit('getRecords');
        },
        handleSelect(row) {
            this.form.geo_distric_id = row.id
        },
        async querySearch(queryString, cb) {
            let results = this.districts;
            if(queryString) {
                await this.searchDistricts(queryString);
                results = this.districts;
            }
            cb(results);
        },
        async searchDistricts(queryString) {
            const { data } = await this.$http.get(`${this.resource}/remoteSearch?search=${queryString}`);
            this.$emit('setDataDistricts', data.districts)
        }
    }

};
</script>
