<template>
  <div class="col-xl-3 col-6 col-grid-box">
    <div class="product-box">
      <div class="img-wrapper">
        <div class="front">
          <a href="/ads/show/${id}" class="bg-size blur-up lazyloaded" @click.prevent="clickShow(item.id)">
            <img
              :src="item.image"
              class="img-fluid blur-up lazyload"
              alt
            />
          </a>
        </div>
        <div class="back">
          <a href="/ads/show/${id}" @click.prevent="clickShow(item.id)">
            <img
              :src="item.gallery[0].url"
              class="img-fluid blur-up lazyload"
              alt
            />
          </a>
        </div>
        <div class="cart-info cart-wrap">
          <a href="#" @click.prevent="favorite(item.id)" title="Agregar a Favoritos">
            <i v-bind:class="[item.is_favorite ? 'fas fa-heart' : 'far fa-heart']" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="product-detail">
        <div>
          <div class="rating">
            <el-rate
              v-model="item.rating_number"
              disabled
              show-score
              text-color="#ff9900"
              score-template="{value} pts">
            </el-rate>
          </div>
          <a href="/ads/show/${id}">
            <h6>{{ item.name }}</h6>
          </a>
          <p>
           {{ item.description }}
          </p>
          <h4 v-if="item.ad_currency == 0" >S/ {{ formatPrice(item.ad_price_pen) }}</h4>
          <h4 v-if="item.ad_currency == 1" >$ {{ formatPrice(item.ad_price_dolar) }}</h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const key = 'updatable';

export default {
  name: "Item",
  props: {
        item: {
            type: Object,
            required: true,
            default: () => Object
        },
    },
  data() {
    return {
        resource: 'ads',
        isFavorited: false,
    };
  },
  methods: {
    clickShow(id) {
        location.href = `/ads/show/${id}`
    },
    favorite(id) {
        if(this.isFavorited)
        {
            this.$http.post(`/${this.resource}/unfavorite/${id}`).then((response) => {
                this.isFavorited = false;
                this.item.is_favorite = false;
                console.log(response.data);
                this.$parent.$forceUpdate();
                this.$message.info("Anuncio [" + this.item.name + "] fue removido de tus favoritos");
            });
        }
        else
        {
            this.$http.post(`/${this.resource}/favorite/${id}`).then((response) => {
                this.isFavorited = true;
                this.item.is_favorite = true;
                console.log(response.data);
                this.$parent.$forceUpdate();
                this.$message.success("Anuncio [" + this.item.name + "] fue agregado a tus favoritos");
            });
        }

    },
    formatPrice(value) {
        let val = (value/1).toFixed(2).replace(',', '.')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }

  }
};
</script>
