<template>
  <div class="theme-paggination-block">
    <div class="row">
      <div class="col-xl-6 col-md-6 col-sm-12">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" @click="next(pagination.current_page - 1)" aria-label="Previous">
                <span aria-hidden="true">
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li v-for="item in pages" :key="item + 'PG'" class="page-item" :class="{'active': pagination.current_page === item }" >
              <a class="page-link" @click="next(item)"> {{ item }} </a>
            </li>
            <li class="page-item">
              <a class="page-link" @click="next(pagination.current_page + 1)" aria-label="Next">
                <span aria-hidden="true">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-xl-6 col-md-6 col-sm-12">
        <div class="product-search-count-bottom">
          <!-- <h5>Showing Products 1-24 of 10 Result</h5> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Pagination",
  props: {
        pagination: {
            type: Object,
            required: true,
            default: () => Object
        },
    },
  data() {
    return {};
  },
  computed: {
      pages() {
        return this.pagination.total ? Math.ceil(this.pagination.total/this.pagination.per_page) : 0;
      }
  },
  methods: {
      next(num) {
        this.pagination.current_page = num > this.pages ? this.pages :(num < 1 ? 1 : num) ;
        this.$emit('getRecords');
      }
  }
};
</script>
