<template>
    <div class="container">
        <div class="absolute-bg">
            <h4 class="">Encuentra tu espacio</h4>
            <div class="row align-items-center">
                <div class="col-md-4 col-12">
                    <div class="form-group mb-0">
                        <el-select v-model="form.property_type_id" placeholder="Seleccionar" class="input-group" >
                            <el-option
                            v-for="item in property_types"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="col-md-5 col-12">
                    <div class="form-group mb-0">
                        <el-autocomplete
                        class="input-group"
                        v-model="form.search"
                        suffix-icon="el-icon-place"
                        :fetch-suggestions="querySearch"
                        placeholder="Lugar ..."
                        @select="handleSelect"
                        />
                    </div>
                </div>
                <div class="col-md-3 col-12 search-col">
                    <div class="search-btn">
                        <a href="#" @click="submit" class="btn btn-solid btn-sm d-block" tabindex="0"><i class="fa fa-search"></i> BUSCAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import queryString from "query-string";

export default {
    data() {
        return {
            form: {},
            property_types: [],
            resource: 'home',
            districts: [],
            selected_district: null
        };
    },
    async created() {
        await this.initForm()
        await this.getTables()
    },
    mounted() {
    },
    methods: {
        async getTables() {
                this.$http.get(`${this.resource}/tables`).then(response => {
                    this.property_types = response.data.property_types;
                    this.districts = response.data.districts;
                });
        },
        initForm() {
            this.form = {
                property_type_id: null,
                geo_distric_id: null,
                search: null
            }
        },
        async querySearch(queryString, cb) {
            var links = this.districts;
            var results = queryString ? await this.searchData(queryString) : links;
            cb(results);
        },
        async searchData(queryString) {
            const { data } = await this.$http.get(`${this.resource}/remoteSearch?search=${queryString}`)
            return data.data
        },
        createFilter(queryString) {
            return (link) => {
                return (link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
            };
        },
        handleSelect(item) {
            this.selected_district = item
        },
        getQueryParameters() {
            return queryString.stringify({
                property_type_id: this.form.property_type_id,
                geo_distric_id: this.selected_district ? this.selected_district.id : null
            });
        },
        submit() {
            const query = {
                property_type_id: this.form.property_type_id,
                geo_distric_id: this.selected_district ? this.selected_district.id : null
            }
            location.href = `/ads?${this.getQueryParameters()}`
        },

    }
};
</script>
