.has-danger .help-block,
.has-danger .control-label,
.has-danger .radio,
.has-danger .checkbox,
.has-danger .radio-inline,
.has-danger .checkbox-inline,
.has-danger.radio label,
.has-danger.checkbox label,
.has-danger.radio-inline label,
.has-danger.checkbox-inline label {
    color: #d2322d;
}
.has-danger .form-control {
    border-color: #d2322d !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}
.form-control-feedback {
    color: #d2322d;
}
.custom-control .el-checkbox .el-checkbox__label{
    text-transform: capitalize;
    font-weight: lighter;
}

.el-radio-group{
    width: 100%;
}
.el-radio-group .el-radio-button {
    width: 50%;
}
.el-radio-group .el-radio-button .el-radio-button__inner {
    width: 100%;
}

.input-options{
    height: 30px;
    font-size: 12px;
    text-align: right;
}


.tags-input-badge span{
    font-size: 13px;
}
.typeahead-badges span{
    font-size: 13px;
}

.my-clipper {
    width: 100%;
}

.block div .el-upload--text {
    width: 100% !important;
}


.separator {

    color: rgba(0,0,0,.4);
    font-weight: 400;
    text-align: center;
    position: relative;
}
.separator::before, .separator::after{
    content: "";
      position: absolute;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      height: 5px;
      top: 7px;
      width: 35%;
}
.separator::before{
    left: 0px;
}
.separator::after{
    right: 0px;
}

