<template>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h5>Add Description</h5>
            </div>
            <div class="card-body">
                <div class="digital-add needs-validation">
                    <div class="form-group mb-0">
                        <div class="description-sm">
                            <textarea id="editor1" name="editor1" cols="10" rows="4"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ContentFormRegister',
        data(){
            return {

            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
