<template>
    <div class="card">
        <div class="card-header">
            <h5>Informacion General</h5>
        </div>
        <div class="card-body">
            <div class="digital-add needs-validation">
                <div class="form-group">
                    <label class="col-form-label pt-0"><span>*</span> Copyright</label>
                    <input class="form-control" id="validationCustom01" type="text" required="">
                </div>
                <div class="form-group">
                    <label class="col-form-label pt-0"><span>*</span> Admin Email</label>
                    <input class="form-control" id="validationCustomtitle" type="text" required="">
                </div>

                <div class="form-group">
                    <label  class="col-form-label pt-0"><span>*</span> Tipo de Cambio: Soles a Dolares</label>
                    <input class="form-control" id="validationCustomtitle" type="number" required="">
                </div>

                <button type="button" class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Footer',
        data(){
            return {
                resource: '',
                form: ''
            }
        },
        created() {
        },
        methods: {
            initform() {
                this.form = {

                }
            }
        }
    }
</script>
