<template>
    <div class="card">
        <div class="card-header">
            <h5>Informacion General</h5>
        </div>
        <div class="card-body" >
            <div class="digital-add needs-validation">
                <div class="form-group">
                    <label class="col-form-label pt-0"><span>*</span> Copyright</label>
                    <input class="form-control" id="validationCustom01" type="text" required="" v-model="form.copyright">
                </div>
                <div class="form-group">
                    <label class="col-form-label pt-0"><span>*</span> Admin Email</label>
                    <input class="form-control" id="validationCustomtitle" type="text" required="" v-model="form.admin_email">
                </div>

                <div class="form-group">
                    <label  class="col-form-label pt-0"><span>*</span> Tipo de Cambio: Soles a Dolares</label>
                    <input class="form-control" id="validationCustomtitle" type="number" required="">
                </div>

                <button type="button" @click="submit" class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Generalnformation',
        data(){
            return {
                resource: 'configuration-web',
                type: 'general-information',
                form: '',
            }
        },
        async created() {
            await this.initform();
            await this.getRecord();
        },
        methods: {
            getRecord() {
                this.$http.get(`${this.resource}/record/${type}`).then((response) => {
                        //this.form = response.data.data
                    });
            },
            initform() {
                this.form = {
                    copyright: null,
                    admin_email: null,
                    exchange_rate: null
                };
            },
            submit() {
                this.$http.post(`${this.resource}/record/${type}`, this.form).then((response) => {
                    if(response.data.success) {
                        this.$message.success(response.data.message);
                    }
                });
            },

        }
    }
</script>
