<template>
    <div class="card">
        <div class="card-header">
            <h5>SEO Configuración</h5>
        </div>
        <div class="card-body">
            <div class="digital-add needs-validation">
                <div class="form-group">
                    <label class="col-form-label pt-0"><span>*</span> SEO Title</label>
                    <input class="form-control" id="validationCustom01" type="text" v-model="form.title">
                </div>
                <div class="form-group">
                    <label class="col-form-label pt-0"><span>*</span> SEO Description</label>
                    <input class="form-control" id="validationCustomtitle" type="text"  v-model="form.description">
                </div>

                <div class="form-group">
                    <label  class="col-form-label pt-0"><span>*</span> SEO Keywords</label>
                    <input class="form-control" id="validationCustomtitle" type="text"  v-model="form.keywords">
                </div>

                <button type="button" class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'SeoConfiguration',
        data(){
            return {
                resource: 'configuration-web',
                type: 'seo',
                form: '',
            }
        },
        async created() {
            await this.initform();
            await this.getRecord();
        },
        methods: {
            getRecord() {
                this.$http.get(`${this.resource}/record/${type}`).then((response) => {
                        //this.form = response.data.data
                    });
            },
            initform() {
                this.form = {
                    title: null,
                    description: null,
                    keywords: null
                };
            },
            submit() {
                this.$http.post(`${this.resource}/record/${type}`, this.form).then((response) => {
                    if(response.data.success) {
                        this.$message.success(response.data.message);
                    }
                });
            },
        }
    }
</script>
