<template>
<div class="product-box product-wrap">
    <div class="img-wrapper">
        <!-- <div class="ribbon"><span>new</span></div> -->
        <div class="front">
            <a :href="'/ads/show/' + this.item.id" @click.prevent="clickShow(item.id)"><img alt=""
            :src="item.image"
            class="img-fluid blur-up lazyload bg-img"></a>
        </div>
        <div class="cart-info cart-wrap">

            <a href="#" @click.prevent="unFavorite(item.id)" title="Remover"><i class="fa fa-heart-o"></i></a>

            <button title="ver Anuncio" ><i class="ti-shopping-cart"></i>
                Ver Anuncio</button>
            <a class="mobile-quick-view" :href="'/ads/show/' + this.item.id" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="product-info">
        <div class="rating mt-3 mb-3">
            <el-rate
              v-model="item.rating_number"
              disabled
              show-score
              text-color="#ff9900"
              score-template="{value} pts">
            </el-rate>
        </div>

        <div class="mb-3">
            <a href="#" @click.prevent="clickShow(item.id)">
                <h6>{{ item.name }}</h6>
            </a>
        </div>

        <div class="row justify-content-md-center ">
            <hr/>
            <div class="col-md-2 col-2 mb-2 text-center">
                <i v-if="item.ad_currency === 0" class="fas fa-coins"></i>
                <i v-if="item.ad_currency === 1" class="fas fa-dollar-sign"></i>
            </div>
            <div class="col-md-10 col-10 mb-2 text-start">
                <span v-if="item.ad_currency === 0"><h4>S/ {{ formatPrice(item.ad_price_pen) }}</h4></span>
                <span v-if="item.ad_currency === 1"><h4>$ {{ formatPrice(item.ad_price_dolar) }}</h4></span>
            </div>
            <div class="col-md-2 col-2 mb-2 text-center">
                <i v-if="item.ad_currency === 1" class="fas fa-coins"></i>
                <i v-if="item.ad_currency === 0" class="fas fa-dollar-sign"></i>
            </div>
            <div class="col-md-10 col-10 mb-2 text-start">
                <span v-if="item.ad_currency === 1"><h5>S/ {{ formatPrice(item.ad_price_pen) }}</h5></span>
                <span v-if="item.ad_currency === 0"><h5>$ {{ formatPrice(item.ad_price_dolar) }}</h5></span>
            </div>
            <div class="col-md-2 col-2 mb-2">
                <i class="fas fa-building"></i>
            </div>
            <div class="col-md-10 col-10 mb-2 text-start">
                <span><h5>{{ item.property_type }}</h5></span>
            </div>
            <div class="col-md-2 col-2 mb-2">
                <i class="fas fa-file-contract"></i>
            </div>
            <div class="col-md-10 col-10 mb-2 text-start">
                <span><h5>{{ item.transaction }}</h5></span>
            </div>
            <div class="col-md-2 col-2 mb-2">
                <i class="fas fa-images"></i>
            </div>
            <div class="col-md-10 col-10 mb-2 text-start">
                <span><h5>{{ item.gallery.length }} Imágenes</h5></span>
            </div>
            <hr/>
        </div>
    </div>
</div>
</template>
<script>

export default {
  name: "Item",
  props: {
        item: {
            type: Object,
            required: true,
            default: () => Object
        },
    },
  data() {
    return {
        resource: 'ads',
        isFavorited: '',
    };
  },
  methods: {
    clickShow(id) {
        location.href = `/ads/show/${id}`
    },
    formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    unFavorite(id) {
        this.$http.post(`/${this.resource}/unfavorite/${id}`).then((response) => {
            console.log(response.data);
            this.$parent.$forceUpdate();
            this.$message.info("Anuncio [" + this.item.name + "] fue removido de tus favoritos");
            location.reload();
        });
    }
  }
};
</script>
