<template>
    <div class="row blog-media">
        <div class="col-xl-4">
            <div class="blog-left">
                <a :href="'/ads/show/' + item.id">
                    <el-image fit="cover" :src="item.primary_image" style="width: 100%; height: 238px; background: #f6fdf3" >
                        <div slot="placeholder" class="image-slot">
                            Loading<span class="dot">...</span>
                        </div>
                    </el-image>
                </a>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="blog-right">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-10 col-12">
                            <a :href="'/ads/show/' + item.id">
                                <h4>{{ item.name }}</h4>
                            </a>
                        </div>
                        <div class="col-md-2 col-12">
                            <span v-if="item.ad_currency === 0"><h4>S/ {{ formatPrice(item.ad_price_pen) }}</h4></span>
                            <span v-if="item.ad_currency === 1"><h4>$ {{ formatPrice(item.ad_price_dolar) }}</h4></span>
                        </div>
                        <hr/>
                        <div class="col-md-12">
                            <ul class="post-social">
                                <li>Estado : {{ item.status }}</li>
                                <li><i class="fa fa-heart"></i> {{ item.likes_number }} Likes</li>
                                <li><i class="fa fa-eye"></i> {{ item.views }} vistas</li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <h6>Creado el {{ moment(String(item.created_date)).format('MM/DD/YYYY hh:mm') }}</h6>
                        </div>
                        <div class="col-md-12 mb-3">
                            <p>{{ item.content }}</p>
                        </div>
                        <div class="col-md-12">
                            <a :href="'/ads/show/' + item.id" class="btn btn-sm btn-outline me-2"><i class="fa fa-eye"></i><span> Ver anuncio</span></a>
                            <button @click="dialogVisible = true" class="btn btn-solid btn-sm me-2"><i class="fa fa-calendar"></i><span> Asignar Fechas</span></button>
                            <a href="#" class="btn btn-sm btn-outline me-2"><i class="fa fa-pencil-square-o"></i><span> Editar</span></a>
                            <a href="#" class="btn btn-sm btn-outline me-2"><i class="fa fa-trash"></i><span> Remover</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <el-dialog
            title="Reservar Fechas"
            :visible.sync="dialogVisible"
            width="30%">
            <div>
                <el-date-picker
                v-model="rangoFechas"
                align="center"
                type="daterange"
                :picker-options="pickerOptions"
                value-format= "yyyy-MM-dd"
                range-separator="-"
                start-placeholder="Desde"
                end-placeholder="Hasta">
                </el-date-picker>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Cancelar</el-button>
                <el-button type="success" @click="asignarFechas">Confirmar</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
import moment from 'moment'

export default {
    name: "Item",
    props: {
        item: {
            type: Object,
            required: true,
            default: () => Object
        },
        id: {
            required: true,
            type: Number,
            default: () => Number
        },
    },
    mounted() {

    },
    data() {
        return {
            resource: 'ads',
            dialogVisible: false,
            fromDate: new Date(),
            pickerOptions: {
                disabledDate: this.disabledDate,
                onPick: this.pick
            },
            rangoFechas: [],
            form: {
                idAds: this.item.id,
                fechaIni: '',
                fechaFin: '',
            },
        };
    },
    methods: {
        clickShow(id) {
            location.href = `/ads/show/${id}`
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        },
        pick({ maxDate, minDate }) {
            this.form.fechaIni = moment(String(minDate)).format('YYYY-MM-DD hh:mm:ss')
            this.form.fechaFin = moment(String(maxDate)).format('YYYY-MM-DD hh:mm:ss')
        },
        disabledDate(date) {
            if (this.fromDate) {
                return this.fromDate > date
            }
            return false;
        },
        asignarFechas() {
            console.log(this.rangoFechas)
            if(this.form.idAds){
                    return this.$http.post(`fechas/${this.form.idAds}`, this.form)
                    .then((response) => {
                        if (response.data.success) {
                            this.$message.success(response.data.message)
                        } else {
                            this.$message.error(response.data.message)
                        }
                        this.dialogVisible = false
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.errors
                        } else {
                            console.log(error)
                        }
                    });
                }
        },
    }
};
</script>
