<template>
    <div class="border-product">
        <h6 class="btn btn-solid hover-solid btn-animation btn-sm col-12">Preguntar sin Compromiso</h6>
        <div
            v-if="isFormVisible"
            v-loading="isLoading"
            element-loading-text="Enviando mensaje..." class="theme-form">
            <form class="form-row row text-start">
                <div class="col-md-12 col-12 mb-2">
                    <label for="name">Nombre <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" v-model="form.name" id="name"
                        placeholder="Ingresa tu nombre" required>
                </div>
                <div class="col-md-12 col-12 mb-2">
                    <label for="email">Email <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" v-model="form.email" id="email"
                        placeholder="Ingresa tu email" required>
                </div>
                <div class="col-md-12 col-12 mb-2">
                    <label for="cellphone">Teléfono <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" v-model="form.phone_number" id="cellphone"
                        placeholder="Ingresa tu numero celular" required>
                </div>
                <div class="col-md-12 col-12 mb-2">
                    <label for="review">Mensaje <span class="text-danger">*</span></label>
                    <textarea class="form-control"
                        placeholder="Escribe tu mensaje ..."
                        v-model="form.message"
                        id="exampleFormControlTextarea1" rows="6" required></textarea>
                </div>
                <div class="col-md-12 col-12 mb-2">

                    <label for="terms_accepted">
                        <input type="checkbox" v-model="form.checkTerms" name="terms_accepted" id="terms_accepted" value="1" required>&nbsp; Al registrarme estoy de acuerdo con los <a href="/terminos" target="_blank">Términos y Condiciones</a> y <a href="/politicas" target="_blank" >Políticas de Privacidad </a> de Alquile Directo</label>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-solid btn-sm" type="button" @click="sendMessageToAuthor">Enviar</button>
                </div>
            </form>
        </div>
        <div v-if="!isFormVisible">
            <p class="mb-3">Mensaje Enviado correctamente, el propietario del anuncio se contactará contigo por medio de los datos proporcionados para resolver tus consultar.</p>
            <div class="col-md-12">
                <button class="btn btn-solid btn-sm" type="button" @click="activeFormToSendQuestion">Enviar otra pregunta</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                headers: headers_token,
                resource: 'notifications',
                isLoading: false,
                isFormVisible: true,
                form: {
                    name:'',
                    email:'',
                    phone_number: '',
                    message:'',
                    checkTerms: false
                },
                errors: {},
            }
        },
        props: {
            id: {
                required: true,
                type: Number,
                default: () => Number
            }
        },
        mounted() {
        },
        methods: {
            initForm(){
                this.form = {
                    id: '',
                    name: '',
                    email:'',
                    phone_number: '',
                    message:'',
                    checkTerms: false
                }
            },
            checkForm(e) {
                console.log('Validando ....')
                if (this.form.name !== '' &&
                    this.form.email !== '' &&
                    this.form.phone_number !== '' &&
                    this.form.message !== '' &&
                    this.form.checkTerms) {

                    console.log('correcto la validación');
                    return true;
                }

                this.errors = [];

                if (this.form.name === '' || this.form.name === 'undefined') {
                    this.errors.push('El nombre es obligatorio.');
                }
                if (this.form.email === '' || this.form.email === 'undefined') {
                    this.errors.push('El email es obligatorio.');
                }
                if (this.form.phone_number === '' || this.form.phone_number === 'undefined') {
                    this.errors.push('El numero es obligatorio.');
                }
                if (this.form.message === '' || this.form.message === 'undefined') {
                    this.errors.push('El mensaje es obligatorio.');
                }

                return false;
            },
            sendMessageToAuthor(event){
                if(!this.checkForm(event)){
                    return;
                }
                this.form.id = this.id;
                this.isLoading = true;

                return this.$http.post(`/${this.resource}/question/`,this.form)
                    .then(response => {
                        if (response.data.success) {
                            this.$message.success(response.data.message)
                        } else {

                            this.$message.error(response.data.message)
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.errors
                        } else {
                            console.log(error)
                        }
                    })
                    .then(() => {
                        this.isLoading = false;
                        this.isFormVisible= false;
                        this.initForm();
                    });

            },
            activeFormToSendQuestion(){
                this.isFormVisible = true;
            }
        }
    }
</script>
